<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
</head>
<style>
    body {
  font-family: Arial;
}

    /* Style inputs */
  input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
input[type=submit] {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #45a049;
}
div.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>
    

    <div class="container">
<form method="POST" action="/group/<%= groupname%>/submitproject" enctype="multipart/form-data">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" placeholder="title......">
  
    <label for="about">About</label>
    <input type="text" id="lname" name="about" placeholder="about......">
  
    <label for="status">Status</label>
    <select id="status" name="status">
      <option value="Current">Current</option>
      <option value="Proposed">Proposed</option>
      
    </select>
    <label for="lname">Attach Pdf</label>
    <br>
    <br>
    <input type="file" id="lname" name="pdf" required>
  
    <input type="submit" value="Submit">
  </form>
    </div>
</body>
</html>